.search-bar {
  position: relative;
  margin-bottom: 15%;
}
.search-bar > img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
}
.search-bar > div {
  width: 100%;
  padding: 1em;
  position: absolute;
  left: 0;
  bottom: -25%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5em;
}
.search-bar .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeitem {
  transition: 0.25s;
}
.storeitem:active {
  transform: scale(105%);
  background-color: rgba(128, 128, 128, 0.3);
}
.storeitem .transparency {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 25%
  );
  transition: 0.25s;
}
.storeitem:active .transparency {
  background: linear-gradient(
    to right,
    rgba(128, 128, 128, 0.3),
    rgba(128, 128, 128, 0) 25%
  );
}

.mini-searchbar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;

  padding: 1em;
  background: linear-gradient(
    to bottom,
    white,
    white 80%,
    rgba(255, 255, 255, 0) 100%
  );
}
.mini-searchbar > input {
  transform: translateY(-200%);
}
.mini-searchbar {
  animation: fade forwards 1 normal 0.25s;
}
.mini-searchbar > input {
  animation: move-in forwards 1 normal 0.5s;
}
.mini-searchbar.out {
  animation: fade-out forwards 1 normal 0.25s;
}
.mini-searchbar.out > input {
  animation: fade-out forwards 1 normal 0.25s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes move-in {
  from {
    transform: translateY(-200%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
