.extrapage-container {
  width: 100%;
  height: 100vh;

  position: fixed;
  left: 0;
  top: 0;

  background-color: white;
  overflow-y: clip;

  animation: extrapage-in 1 forwards normal 0.5s;
}
.extrapage-container.out {
  animation: extrapage-out 1 forwards normal 0.5s;
}

@keyframes extrapage-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes extrapage-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
