.banner-transition {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-transition .gradient {
  width: 100%;
  height: 10vh;
  transform: translateY(-100%);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 1) 80%
  );
  z-index: 20;
}

.bubble {
  transform: translateX(100%);
  opacity: 0;
}
.bubble.in {
  animation: bubble-in 1s forwards normal 1;
}

@keyframes bubble-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
