.navbar {
  --navbar-color: rgb(255, 255, 255);
  position: relative;
  z-index: 40;
}

.navbar .top {
  --w: 20%;

  width: var(--w);
  min-width: 78px;
  transform: translateY(-40%);
  background-color: white;
  position: absolute;
  height: 75px;
  left: calc(50% - var(--w) / 2);
  top: 0;
  border-radius: 100%;
  z-index: 2;
}
.navbar .top.shadow {
  background-color: transparent;
  box-shadow: 0 10px 10px 15px rgba(15, 97, 171, 0.12);
  z-index: 1;
}

.navbar .bottom {
  background-color: var(--navbar-color);
  width: 100%;
  padding: 0.5em;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: relative;
  z-index: 3;
}
.navbar .bottom.shadow {
  background-color: transparent;
  box-shadow: 0 10px 10px 15px rgba(15, 97, 171, 0.12);
  height: 75.5px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}
.navbar .bottom > button {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.navbar .bottom > button:nth-child(2) > img {
  transform: scale(150%) translateY(-30%);
  background-color: var(--secondary-color);
  padding: 0.5em;
  border-radius: 100%;
}
.navbar .bottom > button.selected {
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}
.navbar .bottom > button.selected:nth-child(2) > img {
  background-color: var(--primary-color);
  border: none;
}
